<ion-header>
  <ion-navbar>
    <ion-title>Weather</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">

  <button ion-button>
    <ion-icon name="add-circle" (click)="addCity()"></ion-icon>
  </button>

  
  <div *ngIf="display">
      <h2 class="message">{{message}}</h2>
  </div>

  <ion-card *ngIf="!display">
    <ion-grid>
        <ion-row>
            <ion-col width-50 offset-25>
              <ion-card-header class="items" *ngFor="let item of data" (click)="itemSelected(item)">
                <h2 class="location">{{item.city}}, {{item.country}}</h2>
              </ion-card-header>
            </ion-col>
          </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
